<div class="alerts-grid">
    <div class="alert-header">Device</div>
    <div class="alert-header">Metric</div>
    <div class="alert-header">Severity</div>
    <div class="alert-header">Created</div>
    <!-- <div class="alert-header">Last Checked</div> -->
    {{range .}}
    <div class="alert-cell {{.Severity}}">{{.Nickname}}</div>
    <div class="alert-cell {{.Severity}}">{{.AlertMetric}}</div>
    <div class="alert-cell {{.Severity}}">{{.Severity}}</div>
    <div class="alert-cell {{.Severity}}">{{.CreatedAt.Time.Format "01/02 15:04:05"}}</div>
    <!-- <div class="alert-cell {{.Severity}}">{{.LastOccurrence.Time.Format "01/02 15:04:05"}}</div> -->
    {{end}}
</div>
